.bg {
    background: url(../image/birchbg.png);
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

.y {
    background: none;
    width: 20cm;
    height: 25cm;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.link {
    font-size: 14px;
    color: rgb(255, 0, 0);
    height: 44px;
    padding: 6px 15px;
    background-color: gold;
    border: 1px solid gold;
    line-height: 1.2;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.2s;
    outline: none;
    position: relative;
}

.link::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #000;
    border: inherit;
    border-color: #000;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
}

.link:active::before {
    opacity: 0.1;
}

.link:hover {
    background: darkgoldenrod;
    color: darkred;
}